In [23]:
# necessary libraries for prediciton
import utils
import pandas as pd
import numpy as np
from sklearn.model_selection import KFold
from sklearn.tree import DecisionTreeClassifier
from sklearn import metrics

# Prediction Algorithms

* Decision Tree

In [24]:
def create_DT():
    '''Create a new Decision Tree'''
    # Useful DecisionTree tutorial:
    # https://www.datacamp.com/community/tutorials/decision-tree-classification-python
    return DecisionTreeClassifier()

# Prediction

* Predictions are done in this notebook.
* It is also useful to compare how serveral algorithms perform against one another.

In [25]:
dataset =  utils.read_csv_to_df('dataset/preprocessed_data.csv')
display(dataset)

     loan_id  account_id    date  amount  duration  payments  status
0       5314        1787  930705   96396        12      8033      -1
1       5316        1801  930711  165960        36      4610       1
2       6863        9188  930728  127080        60      2118       1
3       5325        1843  930803  105804        36      2939       1
4       7240       11013  930906  274740        60      4579       1
5       6687        8261  930913   87840        24      3660       1
6       7284       11265  930915   52788        12      4399       1
7       6111        5428  930924  174744        24      7281      -1
8       7235       10973  931013  154416        48      3217       1
9       5997        4894  931104  117024        24      4876       1
10      7121       10364  931110   21924        36       609       1
11      6077        5270  931122   79608        24      3317       1
12      6228        6034  931201  464520        60      7742      -1
13      6356        6701  931208   95400        36      2650       1
14      5523        2705  931208   93888        36      2608       1
15      6456        7123  931209   47016        12      3918       1
16      7104       10320  931213  259740        60      4329       1
17      6820        9034  931216   38148        12      3179       1
18      6876        9236  931221   86616        12      7218       1
19      7097       10266  931223   75624        24      3151      -1
20      4959           2  940105   80952        24      3373       1
21      6499        7401  940105   80952        24      3373       1
22      5479        2486  940110   24516        12      2043       1
23      5170        1071  940120  253200        60      4220       1
24      6721        8475  940121   21072        24       878       1
25      7259       11111  940131  108144        36      3004       1
26      5285        1603  940206   78936        12      6578       1
27      5189        1166  940207  149040        48      3105       1
28      6650        8073  940217   49320        12      4110      -1
29      7226       10940  940223  197748        36      5493       1
..       ...         ...     ...     ...       ...       ...     ...
298     5329        1862  961016  396120        60      6602       1
299     6644        8039  961020   93600        24      3900       1
300     6354        6688  961023   22968        36       638       1
301     5082         501  961024  262980        60      4383       1
302     6585        7795  961029  372120        60      6202       1
303     6921        9422  961029   86184        12      7182       1
304     5366        2062  961029   86184        12      7182       1
305     5886        4447  961031  192744        36      5354       1
306     5741        3754  961103   68544        24      2856       1
307     4996         132  961106   88440        12      7370       1
308     6015        5001  961109  110112        24      4588       1
309     6309        6434  961111  110136        24      4589       1
310     6073        5263  961112  276300        60      4605       1
311     6006        4948  961115  359760        60      5996       1
312     5611        3115  961115  321180        60      5353       1
313     6944        9548  961115   46176        48       962       1
314     7101       10297  961118  421008        48      8771       1
315     6599        7859  961119   72120        12      6010       1
316     6940        9510  961122  228276        36      6341       1
317     5209        1250  961125  182640        48      3805       1
318     5388        2153  961128   61560        12      5130       1
319     6011        4981  961128  179328        48      3736       1
320     5591        3021  961204  155616        48      3242       1
321     7154       10520  961205  417600        60      6960       1
322     7130       10411  961211  123408        24      5142       1
323     6818        9030  961212  155616        48      3242       1
324     5625        3189  961215  222180        60      3703      -1
325     6805        8972  961221   45024        48       938       1
326     7233       10963  961225  115812        36      3217       1
327     7308       11362  961227  129408        24      5392       1

[328 rows x 7 columns]

In [26]:
# Useful MACROS
STATUS_COL = 6
K_FOLD_NUM_SPLITS = 5
SEED = 42

In [27]:
# Setting X and Y
X = dataset.iloc[:, 0:STATUS_COL]
y = dataset.iloc[:, [STATUS_COL]]

In [28]:
# Cross validation settings
f1_scores = []
accuracies = []
cv = KFold(n_splits=K_FOLD_NUM_SPLITS, random_state=SEED, shuffle=False)

# CHANGE THIS LINE TO CHANGE THE USED CLASSIFICATION METHOD
classifier = create_DT()

# Applying Cross validation
for train_index, test_index in cv.split(X):
    X_train, X_test = X.iloc[train_index], X.iloc[test_index]
    y_train, y_test = y.iloc[train_index], y.iloc[test_index]

    # Training with this fold
    classifier.fit(X_train, y_train)
    
    # Testing & Measuring accuracy
    y_pred = classifier.predict(X_test)
    f1_scores.append(metrics.f1_score(y_test, y_pred))
    accuracies.append(metrics.accuracy_score(y_test, y_pred))

In [29]:
# Printing the obtained results
print('Classification Method used:', classifier, '\n')
print('F1 score average: ', sum(f1_scores)/len(f1_scores))
print('Accuracy average: ', sum(accuracies)/len(accuracies))

('Classification Method used:', DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best'), '\n')
('F1 score average: ', 0.845190484589297)
('Accuracy average: ', 0.7438694638694638)

### After having our model trained we shall use the model on the data to be sumitted in the kaggle

In [30]:
test_dataset =  utils.read_csv_to_df('ficheiros_competicao/loan_test.csv', delimiter=';')
display(test_dataset)

     loan_id  account_id    date  amount  duration  payments  status
0       5895        4473  970103   93960        60      1566     NaN
1       7122       10365  970104  260640        36      7240     NaN
2       6173        5724  970108  232560        48      4845     NaN
3       6142        5591  970121  221880        60      3698     NaN
4       5358        2018  970121   38520        12      3210     NaN
5       6095        5358  970124   68340        60      1139     NaN
6       6878        9242  970124   23184        12      1932     NaN
7       6554        7637  970129  390096        48      8127     NaN
8       6793        8931  970130  186300        60      3105     NaN
9       7286       11271  970131   67320        36      1870     NaN
10      6076        5269  970202  117420        60      1957     NaN
11      5134         825  970202   53076        12      4423     NaN
12      5419        2246  970205  415800        60      6930     NaN
13      6255        6158  970208  247920        48      5165     NaN
14      5656        3353  970209  146064        24      6086     NaN
15      6934        9494  970209  116832        12      9736     NaN
16      6028        5072  970209  317520        60      5292     NaN
17      6490        7262  970210   73260        60      1221     NaN
18      6415        6950  970212  475680        48      9910     NaN
19      7087       10215  970220   44304        24      1846     NaN
20      5420        2247  970224   72504        24      3021     NaN
21      5977        4803  970225   59136        48      1232     NaN
22      6824        9052  970226   71976        24      2999     NaN
23      5207        1244  970228   35904        48       748     NaN
24      7115       10351  970304   88704        48      1848     NaN
25      7250       11069  970304  119136        48      2482     NaN
26      6010        4969  970306  150180        60      2503     NaN
27      6088        5317  970307   90180        36      2505     NaN
28      5682        3455  970307   67464        12      5622     NaN
29      7201       10807  970307   67464        12      5622     NaN
..       ...         ...     ...     ...       ...       ...     ...
324     5698        3556  980922  174840        60      2914     NaN
325     5169        1068  980924  253200        60      4220     NaN
326     7294       11327  980927   39168        24      1632     NaN
327     5318        1808  980930  385584        48      8033     NaN
328     5368        2073  981005   44640        24      1860     NaN
329     6923        9433  981005   44640        24      1860     NaN
330     5463        2413  981006   17952        12      1496     NaN
331     5265        1498  981007  165780        60      2763     NaN
332     6321        6505  981008   38496        12      3208     NaN
333     5226        1318  981011  185544        36      5154     NaN
334     6868        9208  981012   82128        24      3422     NaN
335     4967          37  981014  318480        60      5308     NaN
336     5293        1656  981029  189792        48      3954     NaN
337     5865        4354  981030  327660        60      5461     NaN
338     5841        4268  981104   41988        12      3499     NaN
339     5526        2725  981108   69624        36      1934     NaN
340     6852        9140  981110   16032        48       334     NaN
341     6469        7180  981117   99744        24      4156     NaN
342     6168        5698  981121   99216        36      2756     NaN
343     7292       11317  981122  317460        60      5291     NaN
344     5036         309  981125   91248        48      1901     NaN
345     5644        3293  981127  276084        36      7669     NaN
346     6856        9156  981201  163332        36      4537     NaN
347     5428        2262  981202  230220        36      6395     NaN
348     5027         276  981202  160920        36      4470     NaN
349     4989         105  981205  352704        48      7348     NaN
350     5221        1284  981205   52512        12      4376     NaN
351     6402        6922  981206  139488        24      5812     NaN
352     5346        1928  981206   55632        24      2318     NaN
353     6748        8645  981208  240900        60      4015     NaN

[354 rows x 7 columns]

In [31]:
# We now remove the Y column with NaNs
test_dataset = test_dataset.iloc[:, 0:STATUS_COL]
display(test_dataset)

     loan_id  account_id    date  amount  duration  payments
0       5895        4473  970103   93960        60      1566
1       7122       10365  970104  260640        36      7240
2       6173        5724  970108  232560        48      4845
3       6142        5591  970121  221880        60      3698
4       5358        2018  970121   38520        12      3210
5       6095        5358  970124   68340        60      1139
6       6878        9242  970124   23184        12      1932
7       6554        7637  970129  390096        48      8127
8       6793        8931  970130  186300        60      3105
9       7286       11271  970131   67320        36      1870
10      6076        5269  970202  117420        60      1957
11      5134         825  970202   53076        12      4423
12      5419        2246  970205  415800        60      6930
13      6255        6158  970208  247920        48      5165
14      5656        3353  970209  146064        24      6086
15      6934        9494  970209  116832        12      9736
16      6028        5072  970209  317520        60      5292
17      6490        7262  970210   73260        60      1221
18      6415        6950  970212  475680        48      9910
19      7087       10215  970220   44304        24      1846
20      5420        2247  970224   72504        24      3021
21      5977        4803  970225   59136        48      1232
22      6824        9052  970226   71976        24      2999
23      5207        1244  970228   35904        48       748
24      7115       10351  970304   88704        48      1848
25      7250       11069  970304  119136        48      2482
26      6010        4969  970306  150180        60      2503
27      6088        5317  970307   90180        36      2505
28      5682        3455  970307   67464        12      5622
29      7201       10807  970307   67464        12      5622
..       ...         ...     ...     ...       ...       ...
324     5698        3556  980922  174840        60      2914
325     5169        1068  980924  253200        60      4220
326     7294       11327  980927   39168        24      1632
327     5318        1808  980930  385584        48      8033
328     5368        2073  981005   44640        24      1860
329     6923        9433  981005   44640        24      1860
330     5463        2413  981006   17952        12      1496
331     5265        1498  981007  165780        60      2763
332     6321        6505  981008   38496        12      3208
333     5226        1318  981011  185544        36      5154
334     6868        9208  981012   82128        24      3422
335     4967          37  981014  318480        60      5308
336     5293        1656  981029  189792        48      3954
337     5865        4354  981030  327660        60      5461
338     5841        4268  981104   41988        12      3499
339     5526        2725  981108   69624        36      1934
340     6852        9140  981110   16032        48       334
341     6469        7180  981117   99744        24      4156
342     6168        5698  981121   99216        36      2756
343     7292       11317  981122  317460        60      5291
344     5036         309  981125   91248        48      1901
345     5644        3293  981127  276084        36      7669
346     6856        9156  981201  163332        36      4537
347     5428        2262  981202  230220        36      6395
348     5027         276  981202  160920        36      4470
349     4989         105  981205  352704        48      7348
350     5221        1284  981205   52512        12      4376
351     6402        6922  981206  139488        24      5812
352     5346        1928  981206   55632        24      2318
353     6748        8645  981208  240900        60      4015

[354 rows x 6 columns]

In [32]:
# Using the model to get the 'status' predictions
predictions = classifier.predict(test_dataset)

# We must now associate each prediciton to the respective loan_id
predictions_df = test_dataset.loc[:, ['loan_id']]\
                    .rename(columns={'loan_id': 'Id'})
predictions_df['Predicted'] = predictions
display(predictions_df)

       Id  Predicted
0    5895         -1
1    7122         -1
2    6173          1
3    6142          1
4    5358         -1
5    6095          1
6    6878          1
7    6554          1
8    6793          1
9    7286         -1
10   6076          1
11   5134          1
12   5419         -1
13   6255          1
14   5656          1
15   6934          1
16   6028          1
17   6490         -1
18   6415          1
19   7087          1
20   5420          1
21   5977         -1
22   6824         -1
23   5207          1
24   7115         -1
25   7250          1
26   6010          1
27   6088          1
28   5682          1
29   7201         -1
..    ...        ...
324  5698          1
325  5169          1
326  7294          1
327  5318          1
328  5368          1
329  6923          1
330  5463          1
331  5265          1
332  6321         -1
333  5226          1
334  6868          1
335  4967         -1
336  5293          1
337  5865          1
338  5841         -1
339  5526          1
340  6852          1
341  6469          1
342  6168          1
343  7292          1
344  5036          1
345  5644          1
346  6856          1
347  5428          1
348  5027          1
349  4989          1
350  5221          1
351  6402          1
352  5346          1
353  6748          1

[354 rows x 2 columns]

In [33]:
# Outputting predictions to .csv
# CHANGE FILE NAME TO PRESERVE DIFFERENT INSTANCES
utils.write_df_to_csv(predictions_df, 'predictions', 'prediction.csv')